# Database
DATABASE_URL="file:./dev.db"

# Auth
JWT_SECRET="your-secret-key-here-min-32-chars"
JWT_EXPIRY="24h"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_APP_NAME="PreOne"

# Optional: Production Database
# DATABASE_URL="postgresql://user:password@host:5432/preone"
